<nav class="navbar navbar-dark bg-primary p-3">
  <a href="/profile" class="navbar-brand">PokéHeart</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    <ion-icon name="person-outline"></ion-icon>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <% if(genre === 'male'){ %>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Perfil do Treinador</h5>
      <% }else if(genre === 'female'){ %>
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Perfil da Treinadora</h5>
      <% } %>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column align-items-center">
      <% if(genre === 'male'){ %>
        <img src="/images/trainers/male.png" class="img-thumbnail" width="100" alt="Profile Avatar">
      <% }else if(genre === 'female'){ %>
        <img src="/images/trainers/female.png" class="img-thumbnail" width="100" alt="Profile Avatar">
      <% } %>
      <br>
      <div class="m-2 w-100">
        <ul class="list-group">
          <li class="list-group-item"><span class="d-flex align-items-center justify-content-between"><span class="d-flex align-items-center"><ion-icon name="person-circle-outline" class="m-1" style="font-size: 20px;"></ion-icon> Nome:</span> <%= trainer.name %></span></li>
          <li class="list-group-item"><span class="d-flex align-items-center justify-content-between"><span class="d-flex align-items-center"><ion-icon name="calendar-number-outline" class="m-1" style="font-size: 20px;"></ion-icon> Idade:</span> <%= trainer.age %></span></li>
          <li class="list-group-item"><span class="d-flex align-items-center justify-content-between"><span class="d-flex align-items-center"><ion-icon name="location-outline" class="m-1" style="font-size: 20px;"></ion-icon> Região:</span> <%= trainer.region %></span></li>
          <% if(pokedex){ %>
            <li class="list-group-item"><span class="d-flex align-items-center justify-content-between"><span class="d-flex align-items-center"><ion-icon name="folder-open-outline" class="m-1" style="font-size: 20px;"></ion-icon> Pokédex:</span> <%= pokedex %></span></li>
          <% } %>
        </ul>
      </div>

        <a href="/explore" class="btn btn-primary d-flex align-items-center justify-content-center m-1 w-100" id="explore"><ion-icon name="compass-outline" class="m-1"></ion-icon>Explorar</a>
        <button class="btn btn-primary d-flex align-items-center justify-content-center m-1 w-100" id="explore" disabled><ion-icon name="flask-outline" class="m-1"></ion-icon>Laboratório (Em breve)</button>
        <button class="btn btn-primary d-flex align-items-center justify-content-center m-1 w-100" id="explore" disabled><ion-icon name="diamond-outline" class="m-1"></ion-icon>Campo de Batalha (Em breve)</button>
        <button class="btn btn-primary d-flex align-items-center justify-content-center m-1 w-100" id="explore" disabled><ion-icon name="game-controller-outline" class="m-1"></ion-icon>Arena (Em breve)</button>
        <button class="btn btn-danger d-flex align-items-center justify-content-center w-100" id="logout"><ion-icon name="exit-outline" class="m-1"></ion-icon>Sair</button>

      <script>
        const logout = document.querySelector('#logout');
        logout.addEventListener('click', () => {
          document.cookie = 'trainer=;path=/'
          window.location.replace('/');
        })
      </script>
    </div>
  </div>
</div>
</nav>
